*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------------------------- */
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
.container-wrap{
    margin: 0 auto;
    width: 1170px;
    position: relative;
}
.tab-phim{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: none;
}
.tab-phim span{
    position: relative;
}
.tab-phim span a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 15px;
    color: #cbd930;
}
.search{
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 5px;
    height: 42px;
    margin-left: 5px;
    min-width: 400px;
    overflow: hidden;

}
.search-input{
    height: 42px;
    float: left;
    background-color: transparent;
    width: 82%;
    border: 0;
    color: #ffffff;
    margin-left: 30px;
    outline: none;
}
.search-button{
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 42px;
    width: 42px;
    color: #ffffff;
}
@media only screen and (min-width : 150px) and (max-width : 780px)
{

	.search
	{
		width: 95%;
		margin: 0 auto;
	}

}
#login-btn{
   margin-left: 50px;
}
.row-content{
     display: flex;
    justify-content: center;
    align-items: center;
}
#signin{
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}
span a.active{
    border-bottom: 2px solid yellow;
    display: inline-block;
}
/* -------------Sub menu Phim--------------- */
.sub-menu{
    display: none;
    background-color: #ffffff;
    position: absolute;
    text-decoration: none;
    list-style: none;
    padding: 10px 30px;
    width: 170px;
    top: 21px;
}
.sub-menu ul li{
    width: 150px;
    line-height: 40px;
    margin-left: 10px;
    position: relative;
    list-style: none;
}
.sub-menu ul li a{
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.tab-phim span .a:hover .sub-menu{
   display: block;
}
/* -------Sub menu the loai Phim va Quoc gia------------ */
.sub-menu2{
    display: none;
    width: 200px;
    background-color: #ffffff;
    padding: 10px 30px;
    z-index: 99999999;
}
.sub-menu2 li a{
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.arrow-right{
    float: right;
    color: #252525;
    margin-right: 25px;
    margin-top: 17px;
    font-size: 12px;
    font-weight: bold;
}

.sub-menu ul li:hover .sub-menu2{
    display: block;
    position: absolute;
    left: 85%;
    margin-top: -150px;
}
/* ----------Login---------- */
#my-login{
    display: none; 
    position: fixed;
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-container{
    position: relative;
    left: 50%;
    top: 45%;
    width: 390px;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius : 5px;
    background-color: #fff;
    color: #252525;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    overflow: hidden; 
}
#close{
    font-size: 25px;
    float: right;
    cursor: pointer;
    margin-top: -40px;
    margin-right: -25px;
}
.form-container .form-inner{
    display: flex;
    width: 200%
}
.form-container .form-inner form{
    width: 50%;
}
.modal-container .title-text{
    display: flex;
    width: 200%;
    margin-top: -20px;
}
.modal-container .title-text .title{
    width: 50%;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.modal-container .form-container{
    width: 100%;
   overflow: hidden;
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 15px;
}
.form-inner form .field input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0.7 ease;
    border-bottom-width: 2px;
}
.form-inner form .field input:focus{
    border-color: #cbd930;
}
.form-inner form .pass-link{
   margin-top: 5px;
}
.form-inner form .signup-link{
    margin-top: 20px;
    text-align: center;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a
{
    text-decoration: none;
    color: #cbd930;
    cursor: pointer;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
.form-inner form .field input[type ='submit']{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: -webkit-linear-gradient(left,#cbd930,yellow)
}
/* ---------Slide show Login------------ */
.form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    margin: 30px 0 10px 0;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid lightgrey;
}
.slide-controls .slide{
    color: #fff;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}
.slide-controls .signup{
    color: #000;
}
.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    border-radius: 5px;
    width: 50%;
    left: 0;
    z-index: 0;
    transition: all 1s cubic-bezier(0.68,-0.55,0.265,1.55);
    background: -webkit-linear-gradient(left,#cbd930,yellow);
}
input[type='radio']{
    display: none;
}
#signup:checked ~ .slide-tab{
    left: 50%;
}
#signup:checked ~ .signup{
    color: #fff;
}
#signup:checked ~ .login{
    color: #000;
}
/* -------------------Phim moi---------------------- */
.phim-h3{
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    position: relative;
}
.phim-h3 a{
   color: #fff;
}
.phim-h3 a:hover{
    color: #fff;
}
.phim-h3 a span{
    border-bottom: 1px solid #7ab014;
    display: block;
    margin: 0 auto;
    width: 80px;
    margin-top: 20px;
}

/* -------Card movie--------- */
.movie_card{
    padding: 0 !important;
    width: 11.5rem;
    margin: 22px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 12rem;
}
.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}
.card-title{
    font-size: 15px;
    width: 80%;
    height: 4rem;
}
.play_button{
    background-color: #cbd930;
       position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 5px;
    bottom: 111px;
    font-size: 27px;
    padding-left: 15px;
    padding-top: 12px;
    color: #FFFFFF;
    cursor: pointer;
}
.next-page{
    float: right;
    font-size: 30px;
    color: #7ab014;
    cursor: pointer;
}
/* -------------Genre---------- */
.swiper-container {
   width: 100%;
   height: 100%;
}
/* .av-top{
    padding-left: 0;
    padding: 0px 6px;
    width: 183px !important;
    float: left;
    margin-bottom: 15px;
    position: relative;
} */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  .netflix img{
      width: 195px;
      height: auto;
      cursor: pointer;
  }
  .swiper-wrapper{
      padding: 20px 0;
  }
  .swiper-slide:hover{
    transition: all 1s;
    transform: scale(1.2);
    z-index: 1;
}
.swiper-slide:first-child:hover{
    margin: 0 30px;
}
.swiper-slide:last-child:hover{
    margin: 0 -30px;
}
.text{
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
/* ACTIVATE EMAIL */
.activate_email{
    width: 100%;
    height: 100%;
    margin-top: 250px;
}
.activate_email h1{
    color:  yellow;
    text-align: center;
}
.err-email{
    margin-top: 50px;
    font-size: 35px;
    color: red;
    text-align: center;
    font-weight: bold;
}
.success-email{
    margin-top: 50px;
    font-size: 30px;
    color: greenyellow;
    text-align: center;
    font-weight: bold;
}

/* ----------------User Login----------------------------- */
.user_login{
    position: relative;
    margin-left: 50px;
}
.user_img{
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}
.user_img:hover{
    text-decoration: none;
    color: white;
}
.user_img img{
    width: 30px;
    border-radius: 5px;
}
/* ---------------------Dropdown User Login------------------ */
.user_login ul{
    position: absolute;
    padding: 10px;
    width: 160px;
    list-style: none;
    background-color: #ffffff;
    display: none;
}
.user_login ul li:hover a{
    color: #7ab014;
}
.user_login ul li a{
    text-decoration: none;
    color: #252525;
    font-weight: 500;
}
.user_login:hover  ul{
    display: block;
}
/* ---------------------Forgot Password---------------------- */
.forgot_password{
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 50px;
}
.form-forgot {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    padding: 30px 100px;
    text-align: center;
    border-radius: 5px;
}
.form-forgot h1{
    text-align: center;
    color: #7ab014;
    margin-bottom: 20px;
    font-weight: 700;
}
.input-forgot input{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    border: 1px solid #cbd930;
    border-radius: 5px;
    outline: none;

}
.btn-forgot{
    margin-top: 30px;
}
/* ----------------Table Profile------------- */
.profile{
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
#table_profile{
    min-width: 700px;
    width: auto;
    margin-left: 420px;
    margin-top: 200px;
    color: #ddd;
   
    background-color: transparent;
}
#table_profile td {
    border: 1px solid #ddd;
}
#table_profile th{
    
    border: 1px solid #ddd;
}
/* -------------------------- */
.col-left{
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 400px;
    min-width: 300px;
   background-color: transparent;
   color: white;
}

.text-profile{
   margin: 0 auto;
   
}
.img-avatar{
    text-align: center;
    
}
.img-avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#file::-webkit-file-upload-button{
   background-color: transparent;
   color: #cbd930;
   font-weight: 600;
   outline: none;
   border: 1px solid skyblue;
   border-radius: 5px;
}
#file{
    margin: 5px 0px;
}
.form-group label{
    display: block;
    margin-left: 10px;
}
.form-group input{
   margin-left: 10px;
   padding: 10px 4px;
   border: 1px solid #7ab014;
   background-color: transparent;
   color: white;
}
.btn-profile{
    margin: 0 auto;
    margin-bottom: 15px;
}
.edit-user{
    display: flex;
    list-style: none;
    margin-left: 15px;
}
.edit-user li{
    margin: 0 auto;
    cursor: pointer;
}
.edit-user .fa-edit{
    color: red;
}
.edit-user .fa-trash-alt{
    color: #7ab014;
}
/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* -----------------Edit Profile----------------- */
.edit-profile{
    margin: 0 auto;
    width: 400px;
    color: white;
    margin-top: 150px;
    margin-bottom: 50px;
    position: sticky;
}
.text-update{
    margin: 0 auto;
    margin-bottom: 20px;
}
.form-check {
   margin: 0 auto;
}
.form-check input{
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    margin: 10px 0;
}
.form-check label {
    display: inline-block;
    margin-left: 10px;
}
.btn-update-user{
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}
/* -------Player---------- */
.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    margin-top: 235px;
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

  /* -------Socical-------- */
.socical button{
    width: 99%;
    margin-top: 10px;
    padding: 5px;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;;
}